@charset "UTF-8";
#container {padding-top:50px;}
#wrapper {position: relative;}
body:before {display: block;  content:''; position: absolute; left:0; top:0; width:100%; height:100%; background:url(../images/commom/wrap_bg.png) no-repeat center top; background-size:cover;}
/* 인트로 */
.intro_wrap {position: relative;}
.intro_wrap #header {background-color:#138251;}
.intro_box .cont_box ul {display:flex; justify-content:center;}
/*.intro_box .cont_box ul li  {width:140px; }*/
.intro_box .cont_box ul li  {width:140px; height:140px; margin-left:5px;}
.intro_box .cont_box ul li:first-child {margin-left:0;}
.intro_box .cont_box ul li  a {display:block;}
.intro_box .cont_box ul li img {max-width:100%}


/* login_wrap Tiitle */
.title_box {text-align:center; margin-bottom:25px;}
.title_box h2 {width:150px; height:45px; margin:75px auto 0;} 
.title_box h2 img {max-width:100%;}
.title_box p {width:260px; height:85px; margin:30px auto 0;}
.title_box p img {max-width:100%;}

/* form_box */
.login_box {text-align:center;}
.login_box .form_box {display:inline-block; position:relative; max-width:265px; margin:5px auto 0;}
.login_box .form_box ul {margin-right:90px;}
.login_box .form_box li {position:relative;}
.login_box .form_box li:first-child {padding-bottom:4px;}
.login_box .form_box li .cont_box {padding:0 10px; border:1px solid #959495; background-color:#e9f5fc; box-sizing:border-box;}
.login_box .form_box li:first-child .cont_box {background-color:#fff;}
.login_box .form_box li input {width:100%; height:47px; margin:0; padding:0; font-family:'NanumG'; font-size:26px; letter-spacing:-1.56px; color:#595757; font-weight:600; background-color:transparent; border:none; box-sizing:border-box;}
.login_box .form_box li input::placeholder {color:#595757;}
.login_box .form_box .submit {display:block; position:absolute; right:0; top:1px; width:85px; height:100px; font-family:'NanumG'; padding:0; font-size:16px; line-height:100px; color:#fff; font-weight:600; text-align:center; border:none; background-color:#d95a49; -webkit-appearance:none; -webkit-border-radius:0;}
.login_box .put_box {margin-top:50px; text-align:center; font-family:'NanumG';}
.login_box .put_box p span {display:inline-block; position:relative; z-index:10; padding:3px 7px 2px; font-size:19px; line-height:21px; letter-spacing:-1px; color:#E7EAF5; font-weight:600;}
.login_box .put_box p span:before {content: ''; position:absolute; left:0; top:0; z-index:-1; width:100%; height:100%; background-color:#606060; border-radius:5px;}
.login_box .put_box .tell {margin-top:15px; font-family:'NanumG'; text-align:center;}
.login_box .put_box .tell span {display:inline-block; font-weight:400; font-size:11px; line-height:13px; color:#6D6C6C;}
.login_box .put_box .tell  strong {display:inline-block; margin-left:7px; font-size:22px; line-height:24px; font-weight:600; letter-spacing: 1.32px; color:#6D6C6C; vertical-align:sub;}
